<!DOCTYPE html>
<html lang="en">
<head>
  <!--Metadata and mobile support-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Link to custom CSS-->
  <link rel="stylesheet" href="/styles.css">

  <!--Page title-->
  <title>Blog App</title>
</head>
<body>
